body {
  margin: 0;

}

.canvas-wrapper {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  max-height: 700px;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
